rich
elasticsearch
openai
requests
langchain
langchain-core
langchain_openai
langchain-community
langchain-together
langchain-anthropic
langchain-google-genai
langchain_experimental
langchain-ollama
torch
transformers
sentence-transformers
protobuf
sentencepiece
bert-score
deepeval
langextract
saf-eval
rdflib
